@model List<UserRolesViewModel>
@using ModelWeb.Administration;

<h1>User roles</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary"
                   asp-controller="UserManager"
                   asp-action="Manage"
                   asp-route-userId="@user.UserId">
                   Manage roles</a> 
                </td>
            </tr>
        }
    </tbody>
</table>