@model List<Product>

<p>
    <h1><strong>Product list</strong></h1>
</p>

<div class="row">
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-light" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <h4>
                    <strong>By Category:</strong>
                </h4>
            </div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        <ul class="navbar-nav flex-grow-3">
                        @foreach (var item in ViewBag.Categories)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-light" asp-action="Product" asp-route-categoryId="@item.Value">
                                        &spades; @item.Text &spades;
                            </a>
                        </li>
                        }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-md-2">
        <a asp-action="Product" class="btn btn-warning">Reset filters</a>
    </div>
    <div class="col-md-3" @*class="alignleft"*@>
        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0 " type="submit">Search</button>
        </form>
    </div>
</div>


<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-4 mt-3">
            <div class="card">
                <div class="card-header text-center">
                    @if (string.IsNullOrEmpty(item.ImageName))
                    {
                        <img src="@("~/Images/no-image.png")" asp-append-version="true" width="250px" height="250px" />
                    }
                    else
                    {
                        <img src="@("~/Images/"+item.ImageName)" asp-append-version="true" width="250px" height="250px"/>

                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    @*<p class="card-text">@item.Description</p>*@
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <form method="get" asp-controller="" asp-action="">
                                        <input type="button" name="productId" value="@item.Id" />
                                        <input type="checkbox" class="btn btn-success btn-sm" value="Check" />
                                    </form>
                                    &nbsp; &nbsp;
                                </td>
                                <td>
                                    @item.Price EUR | 
                                </td>
                                <td>
                                    &nbsp; &nbsp;
                                    <a class="btn btn-primary"
                                    asp-area="Admin" asp-action="Details" asp-controller="Product" asp-route-id=@item.Id>
                                    Details
                                </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

</div>